# link speed (measured: ~12 s -> ~5 s per relink)
# CONFIG_X86_KERNEL_IBT is not set
# CONFIG_DEBUG_ENTRY is not set
CONFIG_DEBUG_INFO_SPLIT=y
# CONFIG_KERNEL_GZIP is not set
CONFIG_KERNEL_LZ4=y

CONFIG_NUMA_REPL=y
# CONFIG_MITIGATION_PAGE_TABLE_ISOLATION is not set

CONFIG_MEMCG=y
CONFIG_PSI=y
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_NUMA_BALANCING=y
CONFIG_KSM=y

CONFIG_DEBUG_VM=y
CONFIG_PROVE_LOCKING=y
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_DEBUG_PAGEALLOC_ENABLE_DEFAULT=y
CONFIG_DEBUG_ATOMIC_SLEEP=y

CONFIG_EXT4_FS=y

CONFIG_PANIC_ON_OOPS=y
# CONFIG_X86_VERBOSE_BOOTUP is not set
CONFIG_CONSOLE_LOGLEVEL_DEFAULT=5

CONFIG_GDB_SCRIPTS=y
CONFIG_PTDUMP_DEBUGFS=y

